body {
    background-color: #FDFCED;
     font-size: 18px;
}

h2 {
    text-align: center;
    color: #A020F0;
}

.navbar-header {
font-size: 30px;
text-color: #FDFCED;
background-color: #77bb3f;
height: 64px;
}

.header-right {
  float: right;
}

a {
    color: #A020F0;
    text-decoration: none;
    text-transform: uppercase;

}

.logo {
    float: left;
    background-color;
    color: #ffffff;
    margin: 0;
    padding: 20px 30 px;
    display: inline-block;
    font-family:
}

.logo-container {
width: 200px;
height:auto;
display: block;
margin-left:auto;
margin-right:auto;
margin-bottom:60px;
}

.logo_header {
width:200px;
height:auto;
}

off-white hex
FDFCED

smokey-black hex
OF0609

green
77bb3f

pansy purple
792A47

artichoke
9B986F