body {
    background-color: white;
}

h2 {
    text-align: center;
    color: orchid;
}

.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}

off-white hex
FDFCED

smokey-black hex
OF0609

green
77bb3f

pansy purple
792A47

artichoke
9B986F