<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/trackmyeats.css}" rel="stylesheet" />
    <link th:href="@{/images}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TrackMyEats' + ${title == null ? '' : ' :: ' + title}">TrackMyEats</title>
</head>

<!--Line 17 needs to be renamed instead of calling it "page-header". -->

<body>
<!--this is for register, login and welcome-->
<div th:fragment="intro-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Track My Eats</a>
            <a th:href="@{/images}"></a>
        </div>
        <div class="navbar-collapse collapse">

        </div>
    </div>
</div>

<!--this is for add and eats-->
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <!--    <div class="container-fluid">-->
    <div class="navbar-header">
        <a th:href="@{/}" class="navbar-brand">TrackMyEats</a>

        <div class="header-right">
            <a th:href="@{/eats/add}">Add</a>
            <a th:href="@{/eats}">My Eats</a>
            <a th:href="@{/login}">Logout</a>
        </div>
    </div>

</div>
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--&lt;!&ndash;                <li><a th:href="@{/eats/add}">Add </a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a th:href="@{/eats}">My Eats</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a th:href="@{/login}">Logout</a></li>&ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

</html>