<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head">

    </head>

<body>
<header th:replace="fragments :: intro-header"></header>
    <p>Track My Eats Index This is the index.html template</p>
    <h2>Rate and review the restaurants you visit!</h2>
    <form method="post" action="/register">
    <input type="submit" class="btn btn-primary" value="Register" />
    <input type="submit" formaction="/login" class="btn btn-primary" value="Log In" />
    </form>
</body>
</html>