<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<!--taking  this out so that there is not an extra link for getting to login-->
<header th:replace="fragments :: intro-header"></header>
<p>This is the login.html template.</p>
<form method="post">
    <div class="form-group">
        <label>Username
            <input th:field="${loginFormDTO.username}" class="form-control">
        </label>
        <!--this demonstrates input errors-->
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input th:field="${loginFormDTO.password}" class="form-control">
        </label>
        <!--this demonstrates input errors-->
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <div class="form-group">
    <input type="submit" value="Log In" class="btn btn-primary"/>
        </div>
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>